<div class="inline-flex items-center gap-5 bg-[#F0F0F0] py-3 px-5 rounded-full">
  <button class="minus" type="button" class="cursor-pointer text-3xl">-</button>
  <span class=" font-bold">
    {% if type == 'cart' %}
      {{ quantity }}
    {% else %}
      1
    {% endif %}
  </span>
  <button class="plus" type="button" class="cursor-pointer text-2xl">+</button>
</div>
<input
  class="w-40 bg-[#F0F0F0] py-4 text-center rounded-full focus:outline-0"
  type="hidden"
  min="1"
  value="1"
  name="{% if type == 'cart' %}updates[{{ item_key }}]{% else %}quantity{% endif %}"
>
