<h1>{{ block.settings.text }}</h1>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "text",
      "label": "Text",
      "id": "text"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}
