<div class="pt-20">
  <div class="container">
    <div class="bg-[#F0F0F0] rounded-4xl p-12">
      <h2 class="rff-section-title text-center">browse by dress style</h2>
      <div class="-mx-3 flex flex-wrap">
        <div class="w-5/12 px-3 mb-4">
          <a class="rff-banner-1  bg-cover rounded-4xl block h-70 p-8 font-bold" href="">Casual</a>
        </div>
        <div class="w-7/12 px-3 mb-4">
          <a class="rff-banner-2 bg-cover rounded-4xl block h-70 p-8 font-bold" href="">Casual</a>
        </div>
        <div class="w-7/12 px-3 mb-4">
          <a class="rff-banner-3 bg-cover rounded-4xl block h-70 p-8 font-bold" href="">Casual</a>
        </div>
        <div class="w-5/12 px-3 mb-4">
          <a class="rff-banner-4 bg-cover rounded-4xl block h-70 p-8 font-bold" href="">Casual</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Category Boxes",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Category Boxes"
    }
  ]
}
{% endschema %}
