<header>
  <div class="bg-black py-2 text-white text-center text-sm rrf-top-bar">
    <div class="container">
      Sign up and get 20% off to your first order. <a href="/">Sign Up Now</a>
    </div>
  </div>
  <div class="py-13">
    <div class="container">
      <div class="flex -mx-4">
        <div class="w-2/12 px-4"></div>
      </div>
    </div>
  </div>
</header>
