<div class="mb-10 pt-20">
  <div class="container">
    <h2 class="rff-section-title">Our happy customers</h2>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        jQuery(document).ready(function ($) {
          $('.testimonial-carousel').slick({
            slidesToShow: 3,
            prevArrow:
              '<svg width="18.751831" height="15.755859" viewBox="0 0 18.7518 15.7559" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><desc>Created with Pixso.</desc><defs/><path id="Vector" d="M7.08 0.33L0.33 7.08C0.22 7.18 0.14 7.31 0.08 7.44C0.02 7.58 0 7.73 0 7.87C0 8.02 0.02 8.17 0.08 8.31C0.14 8.44 0.22 8.57 0.33 8.67L7.08 15.42C7.29 15.63 7.57 15.75 7.87 15.75C8.17 15.75 8.46 15.63 8.67 15.42C8.88 15.21 9 14.92 9 14.62C9 14.33 8.88 14.04 8.67 13.83L3.84 9L17.62 9C17.92 9 18.21 8.88 18.42 8.67C18.63 8.46 18.75 8.17 18.75 7.87C18.75 7.57 18.63 7.29 18.42 7.08C18.21 6.87 17.92 6.75 17.62 6.75L3.84 6.75L8.67 1.92C8.88 1.71 9 1.42 9 1.12C9 0.82 8.88 0.54 8.67 0.33C8.46 0.11 8.17 0 7.87 0C7.57 0 7.29 0.11 7.08 0.33L7.08 0.33Z" fill="#000000" fill-opacity="1.000000" fill-rule="nonzero"/></svg>',
            nextArrow:
              '<svg width="18.751831" height="15.755859" viewBox="0 0 18.7518 15.7559" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><desc>Created with Pixso.</desc><defs/><path id="Vector" d="M11.67 0.33L18.42 7.08C18.52 7.18 18.6 7.31 18.66 7.44C18.72 7.58 18.75 7.73 18.75 7.87C18.75 8.02 18.72 8.17 18.66 8.31C18.6 8.44 18.52 8.57 18.42 8.67L11.67 15.42C11.45 15.63 11.17 15.75 10.87 15.75C10.57 15.75 10.28 15.63 10.07 15.42C9.86 15.21 9.74 14.92 9.74 14.62C9.74 14.33 9.86 14.04 10.07 13.83L14.9 9L1.12 9C0.82 9 0.54 8.88 0.32 8.67C0.11 8.46 0 8.17 0 7.87C0 7.57 0.11 7.29 0.32 7.08C0.54 6.87 0.82 6.75 1.12 6.75L14.9 6.75L10.07 1.92C9.86 1.71 9.74 1.42 9.74 1.12C9.74 0.82 9.86 0.54 10.07 0.33C10.28 0.11 10.57 0 10.87 0C11.17 0 11.45 0.11 11.67 0.33L11.67 0.33Z" fill="#000000" fill-opacity="1.000000" fill-rule="nonzero"/></svg>',
          });
        });
      });
    </script>
    <div class="testimonial-carousel">
      {% for i in (1..10) %}
        <div class="p-3">
          <div class="rounded-xl border border-gray-200 py-7 px-8">
            <div class="flex">
              {% for i in (1..4) %}
                <svg
                  width="17.584923"
                  height="16.724243"
                  viewBox="0 0 17.5849 16.7242"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <desc> Created with Pixso.</desc>
                  <defs/>
                  <path id="Star 1" d="M8.79 0L6.17 5.63L0 6.38L4.55 10.62L3.35 16.72L8.79 13.7L14.22 16.72L13.03 10.62L17.58 6.38L11.41 5.63L8.79 0Z" fill="#FFC633" fill-opacity="1.000000" fill-rule="evenodd"/>
                </svg>
              {% endfor %}
            </div>
            <div class="flex my-2 items-center">
              <div>Sarah M.</div>
              <div class="pl-3">
                <svg
                  width="19.500000"
                  height="19.500000"
                  viewBox="0 0 19.5 19.5"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <desc>
                  		Created with Pixso.
                  </desc>
                  <defs/>
                  <path id="Vector" d="M9.75 0C7.82 0 5.93 0.57 4.33 1.64C2.72 2.71 1.48 4.23 0.74 6.01C0 7.8 -0.19 9.76 0.18 11.65C0.56 13.54 1.49 15.28 2.85 16.64C4.21 18 5.95 18.93 7.84 19.31C9.73 19.68 11.69 19.49 13.48 18.75C15.26 18.01 16.78 16.77 17.85 15.16C18.92 13.56 19.5 11.67 19.5 9.75C19.49 7.16 18.46 4.68 16.64 2.85C14.81 1.03 12.33 0 9.75 0ZM14.03 8.03L8.78 13.28C8.71 13.35 8.62 13.4 8.53 13.44C8.44 13.48 8.34 13.5 8.25 13.5C8.15 13.5 8.05 13.48 7.96 13.44C7.87 13.4 7.78 13.35 7.71 13.28L5.46 11.03C5.32 10.88 5.24 10.69 5.24 10.5C5.24 10.3 5.32 10.11 5.46 9.96C5.61 9.82 5.8 9.74 6 9.74C6.19 9.74 6.38 9.82 6.53 9.96L8.25 11.68L12.96 6.96C13.03 6.89 13.12 6.84 13.21 6.8C13.3 6.76 13.4 6.74 13.5 6.74C13.59 6.74 13.69 6.76 13.78 6.8C13.87 6.84 13.96 6.89 14.03 6.96C14.1 7.03 14.15 7.12 14.19 7.21C14.23 7.3 14.25 7.4 14.25 7.5C14.25 7.59 14.23 7.69 14.19 7.78C14.15 7.87 14.1 7.96 14.03 8.03Z" fill="#01AB31" fill-opacity="1.000000" fill-rule="nonzero"/>
                </svg>
              </div>
            </div>
            <p>
              "I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to
              elegant dresses, every piece I've bought has exceeded my expectations.”
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonial",
  "presets": [
    {
      "name": "Testimonial"
    }
  ]
}
{% endschema %}
