@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Regular.woff2") format("woff2"),
    url("Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Bold.woff2") format("woff2"),
    url("Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Integral CF";
  src: url("IntegralCF-Bold.woff2") format("woff2"),
    url("IntegralCF-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
body {
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
}
.arrivalsTitle {
  font-family: "Satoshi", sans-serif;
}
.rff-banner-1 {
  background-image: url(./rff-banner-1.png);
}
.rff-banner-2 {
  background-image: url(./rff-banner-2.png);
}
.rff-banner-3 {
  background-image: url(./rff-banner-3.png);
}
.rff-banner-4 {
  background-image: url(./rff-banner-4.png);
}
.testimonial-carousel > svg {
  position: absolute;
  top: -70px;
  right: 0;
  cursor: pointer;
}

.testimonial-carousel > svg:first-child {
  margin-right: 25px;
}
.slick-list {
  margin-left: -12px;
  margin-right: -12px;
}
